
body {
    background-color: #eee;
    /* Appyling Font families via Google Fonts*/
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    /* Not really sure what this is doing so commenting it out*/
    /*background-size: contain;*/
    background-repeat: no-repeat;
    width: 100%;
}

.jumbotron {
    background-size: cover;
    padding:0;
  }
 
.container { padding:0;
             margin:0;
             width:100%;

}

h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
    /* Appyling Font families via Google Fonts*/
    font-family: "Roboto Condensed", sans-serif;
}


#title, #gameover-image, #youwin-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

/* Set the default image to not display*/

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}

/* Borders around the different game pieces*/
#guessedLetters { border-style: bold;

}
